@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quizz-container{
    background-color: #fff;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
    max-width: 100%;
    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

h2{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    margin: 1rem 0;
    font-size: 1.2rem;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: #d63031;
    display: block;
    width: 100%;
    padding: 1.3rem;
    color: #fff;
    font-family: inherit;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #af1f1f;
}